@keyframes itemslide {
  0% {
    transform: translateY(0);
    transform: scale(0.99);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    transform: translateY(-50px);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes jello {
  0% {
    transform: scale(0%);
  }
  20% {
    transform: scale(0%);
  }
  50% {
    transform: scale(130%);
  }
  75% {
    transform: scale(100%);
  }
  85% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

// animation boutton
.container.active > .items {
  -webkit-animation: itemslide 0.5s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
  animation: itemslide 0.5s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
}
.container.active > .items:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.container.active > .items:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.container.active > .items:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.container.active > .items:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.container.container.active > .items > * {
  animation: jello 0.4s ease both;
}
.container.container.active .item1 {
  animation-delay: 0.2s;
}
.container.container.active .item2 {
  animation-delay: 0.4s;
}
.container.container.active .item3 {
  animation-delay: 0.6s;
}
.container.container.active .item4 {
  animation-delay: 0.8s;
}
